h2 {
    margin: 20px;
}

.new-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    border: grey solid 1px;
    padding: 20px;
    width: 50%;
}

.all-posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.my-post {
    border: grey solid 1px;
    padding: 20px;
    margin: 5px 20px;
    width: 75%;
}

#pg_num {

}

#unf_button{
    width: 120px;
    height: 40px;
    background-color: red;
    border-style: solid;
    padding: 1px 7px 2px;
    /* округление границы */
    -webkit-border-radius: 10px;
}

#f_button{
    width: 120px;
    height: 40px;
    background-color: #8DFF33;
    border-style: solid;
    padding: 1px 7px 2px;
    -webkit-border-radius: 10px;
}


